<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="client.hatwo.mx.hatwoclient">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.ActivityListServices2"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ActivityLogin"/>


        <activity android:name=".Activities.ActivityRegister"

            android:parentActivityName=".Activities.ActivityLogin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ActivityLogin"/>
        </activity>

        <activity android:name=".Activities.ActivityListProvidersNear"/>

        <activity android:name=".Activities.ActivityCustomer"/>


        <activity android:name=".Activities.ActivitySplash"
            android:label="@string/title_Servicios"
            android:parentActivityName=".Activities.ActivityMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ActivityMain"/>
        </activity>

        <activity android:name=".Activities.ActivityMain"
            android:label="@string/title_Proveedores"
            android:parentActivityName=".Activities.ActivityListServices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ActivityListServices"/>
        </activity>

    </application>

    <!--Se agregan los permisos para la aplicacion estos son para aplicaciones menores a Android 6
    pero se deben de poner para mantener la compatibilidad.
    Permiso para Escribir archivos en la memoria-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--Permiso para leer archivos de la memoria-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--Permiso para utilizar la camara-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--Permiso para poder hacer un scanner al dispositivo y que detecte los nuevos archivos y que los muestre en la galeria.-->
    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED"/>
</manifest>

<!--
ActivityMain
ActivitySplash
ActivityRegister
-->